:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --alt-text-color: #272142;
  --default-font-family: "Poppins", sans-serif;
  --heading-font-family: "Playfair Display", serif;
}
body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 128px;
}

h2 {
  font-size: 64px;
  line-height: 70px;
}
p {
  color: var(--alt-text-color);
  font-size: 16px;
  line-height: 30px;
  margin: 0;
}

.hero {
  background: #f9f7fe;
  text-align: center;
  padding: 276px 20px;
}

.hero p {
  font-size: 36px;
  margin: 0;
  font-weight: bold;
}

.hero h2 {
  font-family: var(--default-font-family);
  color: var(--alt-text-color);
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
  margin: 24px 0 49px;
}

.btn-branding {
  background: var(--branding-color);
  padding: 18px 46px;
  color: white;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
  border-radius: 4px;
}

p.grid-title {
  margin: 127px 0 82px;
  font-size: 18px;
  line-height: 1.5;
}

.btn-branding-outline {
  font-weight: 500;
  font-size: 16px;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  padding: 18px 25px;
}

.project-description {
  padding: 120px 61px 0;
}

.project-description p {
  margin: 55px 0 50px;
}

.muted-p {
  opacity: 70%;
}

.content-wrapper {
  padding: 276px 20px;
}

.content {
  padding: 30px;
}

.content h1 {
  font-size: 64px;
  font-family: var(--heading-font-family);
  line-height: 85px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
  line-height: 1.5;
  color: var(--alt-text-color);
  margin: 29px 0 28px;
}

.content h3 {
  font-family: var(--default-font-family);
  font-size: 24px;
  line-height: 1.5;
  margin: 16px 0 9px;
}

.content p.project-tag {
  font-size: 14px;
}

.content .btn {
  padding: 18px 31px;
  margin-top: 48px;
}

img.profile-img {
  border-radius: 30px;
}

img.project-img {
  border-radius: 20px;
  /* border: 10px solid var(--secondary-color); */
}

@media (max-width: 992px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
    line-height: 1;
  }

  .hero {
    padding: 80px 20px;
  }
  .hero p {
    font-size: 28px;
  }

  .hero h2 {
    margin: 0 0 20px;
    font-size: 22px;
  }

  p.grid-title {
    margin: 70px 0 62px;
  }
  .project-description {
    padding: 0 0 30px 0;
    text-align: center;
  }
  .project-description p {
    margin: 20px 0 20px;
  }
  .content-wrapper {
    text-align: center;
    padding: 20px 0 0 0;
  }
  .content {
    padding: 0 0 50px;
  }
}
