:root {
  --branding-color: #6c63ff;
  --branding-color-rgb: 108, 99, 255;
  --secondary-color: #f9f7fe;
  --alt-text-color: #272142;
  --default-font-family: "Poppins", sans-serif;
  --heading-font-family: "Playfair Display", serif;
}
body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
  margin: 0;
}

h1 {
  font-size: 96px;
  line-height: 128px;
}

h2 {
  font-size: 64px;
  line-height: 70px;
}
p {
  color: var(--alt-text-color);
  font-size: 16px;
  line-height: 30px;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav {
  padding: 20px 0;
}

nav li {
  display: inline;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: var(--alt-text-color);
  transition: all 100ms ease-in-out;
  font-weight: 500;
}

nav li.active a,
nav a:hover {
  color: var(--branding-color);
}
footer {
  margin-bottom: 133px;
}

footer h3 {
  font-size: 48px;
  line-height: 64px;
}

footer .contact-box p {
  font-size: 18px;
}

footer .contact-box {
  background: var(--secondary-color);
  border-radius: 20px;
  padding: 49px 121px 42px 119px;
  margin: 132px 0 81px;
}

footer .btn-branding {
  padding: 18px 38px;
}
footer .email-link-container {
  margin-bottom: 41px;
  text-align: center;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 500;
}

footer .email-link {
  color: black;
  text-decoration: none;
}

footer .email-link:hover,
footer .source-info a {
  color: black;
  text-decoration: underline;
}

footer .social a {
  margin: 0 20px;
  font-size: 18px;
  color: var(--branding-color);
  padding: 15px;
  background: radial-gradient(
    circle 20px at center,
    rgba(var(--branding-color-rgb), 0.05) 100%,
    transparent 100%
  );
  transition: all 100ms ease-in-out;
}

footer .social a:hover {
  color: var(--secondary-color);
  background: radial-gradient(
    circle 20px at center,
    var(--branding-color) 100%,
    transparent 100%
  );
}

.hero {
  background: #f9f7fe;
  text-align: center;
  padding: 80px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
}

.hero h2 {
  font-family: var(--default-font-family);
  color: var(--alt-text-color);
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
  margin: 24px 0 49px;
}

.btn-branding {
  background: var(--branding-color);
  padding: 18px 46px;
  color: white;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
}

p.grid-title {
  margin: 127px 0 82px;
  font-size: 18px;
  line-height: 1.5;
}

.btn-branding-outline {
  font-weight: 500;
  font-size: 16px;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  padding: 18px 25px;
}

.project-description {
  padding: 120px 61px 0;
}

.project-description p {
  margin: 55px 0 50px;
}

.muted-color {
  opacity: 70%;
}

.content-wrapper {
  padding: 60px 20px;
}

.content {
  padding: 30px;
}

.content h1 {
  font-size: 64px;
  line-height: 85px;
}

.content h2,
.content h3 {
  font-family: var(--default-font-family);
  line-height: 1.5;
}

.content h2 {
  font-size: 18px;
  color: var(--alt-text-color);
  margin: 29px 0 28px;
}

.content h3 {
  font-size: 24px;
  margin: 16px 0 9px;
}

.content p.project-tag {
  font-size: 14px;
}

.content li {
  margin-bottom: 40px;
}

.content .btn {
  padding: 18px 31px;
  margin-top: 48px;
}

img.profile-img {
  padding: 30px;
}

img.project-img {
  border-radius: 20px;
  /* border: 10px solid var(--secondary-color); */
}

img.logo {
  max-height: 40px;
  background: var(--alt-text-color);
  border-radius: 4px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}

.hand-symbol {
  margin-right: 10px;
  /* color: var(--branding-color);
  text-shadow: -1px 0px 0px var(--alt-text-color); */
}

@media (max-width: 992px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
    line-height: 1;
  }

  .hero p {
    font-size: 28px;
  }

  .hero h2 {
    margin: 0 0 20px;
    font-size: 22px;
  }

  p.grid-title {
    margin: 70px 0 62px;
  }
  .project-description {
    padding: 0 0 30px 0;
    text-align: center;
  }
  .project-description p {
    margin: 20px 0 20px;
  }
  .content-wrapper {
    text-align: center;
    padding: 60px 0 0 0;
  }
  .content {
    padding: 0 0 50px;
  }

  .content h1 {
    font-size: 44px;
    line-height: 1.5;
  }
  nav a {
    font-size: 14px;
  }
  footer .contact-box {
    padding: 30px 20px;
    text-align: center;
  }
  footer .contact-box p {
    font-size: 16px;
  }
  footer h3 {
    font-size: 40px;
    line-height: 53px;
  }
  footer .btn-branding {
    font-size: 16px;
    padding: 10px 20px;
  }
  footer .email-link {
    font-size: 18px;
  }
}

@media (max-width: 450px) {
  img.logo {
    /* display: none !important; */
    max-height: 35px;
  }
  nav a {
    font-size: 12px;
  }
  nav li {
    display: inline;
    line-height: 35px;
    margin-left: 5px;
  }
  footer .contact-box p {
    font-size: 14px;
  }
  footer h3 {
    font-size: 38px;
  }
}
