:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --default-font-family: "Poppins", sans-serif;
  --heading-font-family: "Playfair Display", serif;
}
body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
}

p {
  font-weight: normal;
}
.hero {
  background: #f9f7fe;
  text-align: center;
  padding: 276px 20px;
}

.hero h1 {
  line-height: 128px;
}

.hero p {
  font-size: 36px;
  margin: 0;
  font-weight: bold;
  color: #272142;
  line-height: 1.5;
}

.hero h2 {
  font-family: var(--default-font-family);
  color: #272142;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
  margin: 24px 0 49px;
}

.button-branding {
  background: var(--branding-color);
  padding: 18px 46px;
  color: white;
  font-size: 18px;
  line-height: 1.5;
  font-weight: medium;
  border-radius: 4px;
}
